html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}

a {
    text-decoration: none !important;
    color: #222 !important;
}

.container {
    width: 100vw !important;
    max-width: 100% !important;
    padding: 0 !important;
}

.page-container {
    padding: 0 5rem !important;
    max-width: 1700px;
    margin: auto;
}